<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Open Fact Food Mobile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar animated
                   placeholder="ean"
                   type="number"
                   show-cancel-button="focus"
                   cancel-button-text="Annuler"
                   (ionClear)="resetSearch()"
                   (ionChange)="searchProduct($event)">
    </ion-searchbar>
    <ion-card *ngIf="product">
        <img [src]="product.image_url" alt="🌭">
        <ion-card-header>
            <ion-card-subtitle>{{ product.brands }}</ion-card-subtitle>
            <ion-card-title>{{ product.product_name_fr }}
                <ion-badge *ngIf="isVegan" color="success">Vegan</ion-badge>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            ingrédients...
        </ion-card-content>
    </ion-card>
    <ion-progress-bar
            type="indeterminate"
            *ngIf="loading">
    </ion-progress-bar>
</ion-content>
